interactions:
- request:
    body: '{"filter": {"property": "Name", "title": {"equals": ""}}}'
    headers:
      Authorization:
      - dummy
      Content-Type:
      - application/json
      Notion-Version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/56dada1e4604428b9e2d7d1a8d2ad131/query
  response:
    body:
      string: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"98dcbed7-ebcf-4225-b498-95b6c4d1cd73\",\"created_time\":\"2024-11-11T13:46:00.000Z\",\"last_edited_time\":\"2024-11-11T13:53:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"ff2c2fcb-5928-4b8e-8888-d0c58092985c\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"ff2c2fcb-5928-4b8e-8888-d0c58092985c\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F98A\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"56dada1e-4604-428b-9e2d-7d1a8d2ad131\"},\"archived\":false,\"in_trash\":false,\"properties\":{\"Type\":{\"id\":\"%3A%3CxB\",\"type\":\"select\",\"select\":{\"id\":\"9a5788ed-5896-492e-9d88-0f70d4156cd1\",\"name\":\"Cake\",\"color\":\"gray\"}},\"Origin\":{\"id\":\"Q%7D%3C_\",\"type\":\"select\",\"select\":null},\"Difficulty\":{\"id\":\"oWhH\",\"type\":\"select\",\"select\":{\"id\":\"C?fv\",\"name\":\"Easy\",\"color\":\"green\"}},\"Source\":{\"id\":\"uv%5DN\",\"type\":\"rich_text\",\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"Middle
        Eastern Sweets p.152\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Middle
        Eastern Sweets p.152\",\"href\":null}]},\"Date\":{\"id\":\"%7BJ%5EA\",\"type\":\"date\",\"date\":{\"start\":\"2024-11-10\",\"end\":null,\"time_zone\":null}},\"Name\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Apricot
        Semolina cake\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Apricot
        Semolina cake\",\"href\":null}]}},\"url\":\"https://www.notion.so/Apricot-Semolina-cake-98dcbed7ebcf4225b49895b6c4d1cd73\",\"public_url\":null},{\"object\":\"page\",\"id\":\"868d27a8-fe1e-4f0a-bc3c-3846f7f21f76\",\"created_time\":\"2024-11-11T13:42:00.000Z\",\"last_edited_time\":\"2024-11-11T13:45:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"ff2c2fcb-5928-4b8e-8888-d0c58092985c\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"ff2c2fcb-5928-4b8e-8888-d0c58092985c\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F98A\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"56dada1e-4604-428b-9e2d-7d1a8d[...]
