interactions:
- request:
    body: '{"filter": {"property": "Name", "title": {"equals": "Moise"}}}'
    headers:
      Authorization:
      - dummy
      Content-Type:
      - application/json
      Notion-Version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/56dada1e4604428b9e2d7d1a8d2ad131/query
  response:
    body:
      string: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"79b12b3b-3ff2-431f-9e67-ad774e6c3e04"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"a6-QfGiR5VMZyeEr0ElSmOX1wRv7ZQ"
      x-notion-request-id:
      - 79b12b3b-3ff2-431f-9e67-ad774e6c3e04
    status:
      code: 200
      message: OK
version: 1
