interactions:
- request:
    body: '{"filter": {"property": "Name", "title": {"equals": "Moise"}}}'
    headers:
      Authorization:
      - dummy
      Content-Type:
      - application/json
      Notion-Version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/56dada1e4604428b9e2d7d1a8d2ad131/query
  response:
    body:
      string: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"b8d3bc93-3071-4c4d-9c3f-1aabc5c5f567"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"a6-3MmhaCFSAn4n8+nKBV97rwRuEus"
      x-notion-request-id:
      - b8d3bc93-3071-4c4d-9c3f-1aabc5c5f567
    status:
      code: 200
      message: OK
- request:
    body: '{"parent": {"database_id": "56dada1e4604428b9e2d7d1a8d2ad131"}, "properties":
      {"Name": {"title": [{"text": {"content": "Moise"}}]}, "Type": {"select": {"name":
      "Meat"}}, "Difficulty": {"select": {"name": "Easy"}}, "Source": {"rich_text":
      [{"text": {"content": "asd"}}]}}}'
    headers:
      Authorization:
      - dummy
      Content-Type:
      - application/json
      Notion-Version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"14153a83-c0e8-81ea-aa95-ef7d79fded5d","created_time":"2024-11-17T20:45:00.000Z","last_edited_time":"2024-11-17T20:45:00.000Z","created_by":{"object":"user","id":"0a97e157-de6b-44f6-8987-8a458601a308"},"last_edited_by":{"object":"user","id":"0a97e157-de6b-44f6-8987-8a458601a308"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"56dada1e-4604-428b-9e2d-7d1a8d2ad131"},"archived":false,"in_trash":false,"properties":{"Type":{"id":"%3A%3CxB","type":"select","select":{"id":"403c8036-3602-4bc5-9bf6-cf2680f4cd7e","name":"Meat","color":"purple"}},"Origin":{"id":"Q%7D%3C_","type":"select","select":null},"Difficulty":{"id":"oWhH","type":"select","select":{"id":"C?fv","name":"Easy","color":"green"}},"Source":{"id":"uv%5DN","type":"rich_text","rich_text":[{"type":"text","text":{"content":"asd","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"asd","href":null}]},"Date":{"id":"%7BJ%5EA","type":"date","date":null},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Moise","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Moise","href":null}]}},"url":"https://www.notion.so/Moise-14153a83c0e881eaaa95ef7d79fded5d","public_url":null,"request_id":"34d8766d-ad1e-4504-9fbd-24ff2feee891"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"59f-49sV1L3PzeFKn2Ik4hO8Io6zkKc"
      x-notion-request-id:
      - 34d8766d-ad1e-4504-9fbd-24ff2feee891
    status:
      code: 200
      message: OK
[...]
