interactions:
- request:
    body: '{"filter": {"property": "Name", "title": {"equals": "Moise"}}}'
    headers:
      Authorization:
      - dummy
      Content-Type:
      - application/json
      Notion-Version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/56dada1e4604428b9e2d7d1a8d2ad131/query
  response:
    body:
      string: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"44cc3db4-d38e-411a-9da0-95b00f1886e0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"a6-FOSwIsRQeQrpgUd7UKXqg3+9S14"
      x-notion-request-id:
      - 44cc3db4-d38e-411a-9da0-95b00f1886e0
    status:
      code: 200
      message: OK
- request:
    body: '{"parent": {"database_id": "56dada1e4604428b9e2d7d1a8d2ad131"}, "properties":
      {"Type": {"select": {"name": "Meat"}}, "Difficulty": {"select": {"name": "Easy"}},
      "Source": {"rich_text": [{"text": {"content": "asd"}}]}, "Date": {"date": {"start":
      "2024-12-21"}}, "Name": {"title": [{"text": {"content": "Moise"}}]}}, "children":
      [{"object": "block", "type": "heading_2", "heading_2": {"rich_text": [{"text":
      {"content": "Ingredients"}, "type": "text"}]}}, {"object": "block", "type":
      "bulleted_list_item", "bulleted_list_item": {"rich_text": [{"text": {"content":
      "a,b,c"}, "type": "text"}]}}, {"object": "block", "type": "divider", "divider":
      {}}, {"object": "block", "type": "heading_2", "heading_2": {"rich_text": [{"text":
      {"content": "Steps"}, "type": "text"}]}}, {"object": "block", "type": "bulleted_list_item",
      "bulleted_list_item": {"rich_text": [{"text": {"content": ""}, "type": "text"}]}},
      {"object": "block", "type": "divider", "divider": {}}, {"object": "block", "type":
      "heading_2", "heading_2": {"rich_text": [{"text": {"content": "Tips"}, "type":
      "text"}]}}, {"object": "block", "type": "divider", "divider": {}}, {"object":
      "block", "type": "heading_2", "heading_2": {"rich_text": [{"text": {"content":
      "Images"}, "type": "text"}]}}, {"object": "block", "type": "divider", "divider":
      {}}]}'
    headers:
      Authorization:
      - dummy
      Content-Type:
      - application/json
      Notion-Version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"14853a83-c0e8-81ec-918d-f5a0cacbe6eb","created_time":"2024-11-24T14:47:00.000Z","last_edited_time":"2024-11-24T14:47:00.000Z","created_by":{"object":"user","id":"0a97e157-de6b-44f6-8987-8a458601a308"},"last_edited_by":{"object":"user","id":"0a97e157-de6b-44f6-8987-8a458601a308"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"56dada1e-4604-428b-9e2d-7d1a8d2ad131"},"archived":false,"in_trash":false,"properties":{"Type":{"id":"%3A%3CxB","type":"select","select":{"id":"403c8036-3602-4bc5-9bf6-cf2680f4cd7e","name":"Meat","color":"purple"}},"Origin":{"id":"Q%7D%3C_","type":"select","select":null},"Difficulty":{"id":"oWhH","type":"select","select":{"id":"C?fv","name":"Easy","color":"green"}},"Source":{"id":"uv%5DN","type":"rich_text","rich_text":[{"type":"text","text":{"content":"asd","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"asd","href":null}]},"Date":{"id":"%7BJ%5EA","type":"date","date":{"start":"2024-12-21","end":null,"time_zone":null}},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Moise","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Moise","href":null}]}},"url":"https://www.notion.so/Moise-14853a83c0e881ec918df5a0cacbe6eb","public_url":null,"request_id":"6dded125-6db4-4d6b-b084-f9ef2335e431"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"5cd-pkxDCsSjT5/IHHr0M8EVAB0fWDU"
      x-notion-request-id:
      - 6dded125-6db4-4d6b-b084-f9ef2335e431
    status:
      code: 200
      message: OK
[...]
