interactions:
- request:
    body: '{"filter": {"property": "Name", "title": {"equals": null}}}'
    headers:
      Authorization:
      - dummy
      Content-Type:
      - application/json
      Notion-Version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/56dada1e4604428b9e2d7d1a8d2ad131/query
  response:
    body:
      string: '{"object":"error","status":400,"code":"validation_error","message":"body
        failed validation. Fix one:\nbody.filter.title.equals should be a string,
        instead was `null`.\nbody.filter.title.does_not_equal should be defined, instead
        was `undefined`.\nbody.filter.title.contains should be defined, instead was
        `undefined`.\nbody.filter.title.does_not_contain should be defined, instead
        was `undefined`.\nbody.filter.title.starts_with should be defined, instead
        was `undefined`.\nbody.filter.title.ends_with should be defined, instead was
        `undefined`.\nbody.filter.title.is_empty should be defined, instead was `undefined`.\nbody.filter.title.is_not_empty
        should be defined, instead was `undefined`.","request_id":"2f931aff-7cba-480e-8ce1-a6ec56597bc0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"2ea-ulVz9NuZkoYmI3OBRhXPXZ70c/A"
      x-notion-request-id:
      - 2f931aff-7cba-480e-8ce1-a6ec56597bc0
    status:
      code: 400
      message: Bad Request
version: 1
