interactions:
- request:
    body: null
    headers:
      Authorization:
      - dummy
      Content-Type:
      - application/json
      Notion-Version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/56dada1e4604428b9e2d7d1a8d2ad131
  response:
    body:
      string: "{\"object\":\"database\",\"id\":\"56dada1e-4604-428b-9e2d-7d1a8d2ad131\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F4D6\"},\"created_time\":\"2021-02-23T16:20:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"9823e3c7-7622-4acd-a752-78077928d05f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"9823e3c7-7622-4acd-a752-78077928d05f\"},\"last_edited_time\":\"2024-11-22T20:33:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Receipts\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Receipts\",\"href\":null}],\"description\":[],\"is_inline\":true,\"properties\":{\"Type\":{\"id\":\"%3A%3CxB\",\"name\":\"Type\",\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"76d61d55-cd7f-4155-b459-17f2b045a453\",\"name\":\"Base\",\"color\":\"pink\",\"description\":null},{\"id\":\"bf2fffea-2abd-4f2c-9e1c-37bf23273378\",\"name\":\"Sweet\",\"color\":\"blue\",\"description\":null},{\"id\":\"9a5788ed-5896-492e-9d88-0f70d4156cd1\",\"name\":\"Cake\",\"color\":\"gray\",\"description\":null},{\"id\":\"4669ee35-6c7c-48f0-948f-d8c3cf8560a0\",\"name\":\"Biscuit\",\"color\":\"red\",\"description\":null},{\"id\":\"41a9ee6b-59ad-40df-adfb-4032ef2e4f86\",\"name\":\"Ingr[...]
- request:
    body: '{"filter": {"property": "Name", "title": {"equals": "Avocado sauce"}}}'
    headers:
      Authorization:
      - dummy
      Content-Type:
      - application/json
      Notion-Version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/56dada1e4604428b9e2d7d1a8d2ad131/query
  response:
    body:
      string: '{"object":"list","results":[{"object":"page","id":"14753a83-c0e8-8190-a3da-c509b3759793","created_time":"2024-11-23T20:41:00.000Z","last_edited_time":"2024-11-23T20:41:00.000Z","created_by":{"object":"user","id":"0a97e157-de6b-44f6-8987-8a458601a308"},"last_edited_by":{"object":"user","id":"0a97e157-de6b-44f6-8987-8a458601a308"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"56dada1e-4604-428b-9e2d-7d1a8d2ad131"},"archived":false,"in_trash":false,"properties":{"Type":{"id":"%3A%3CxB","type":"select","select":{"id":"403c8036-3602-4bc5-9bf6-cf2680f4cd7e","name":"Meat","color":"purple"}},"Origin":{"id":"Q%7D%3C_","type":"select","select":{"id":"d15a0eb7-4892-4cca-87e6-d109925cd16b","name":"Italy","color":"red"}},"Difficulty":{"id":"oWhH","type":"select","select":{"id":"C?fv","name":"Easy","color":"green"}},"Source":{"id":"uv%5DN","type":"rich_text","rich_text":[{"type":"text","text":{"content":"Leith
        P.56","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Leith
        P.56","href":null}]},"Date":{"id":"%7BJ%5EA","type":"date","date":{"start":"2024-12-21","end":null,"time_zone":null}},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Avocado
        sauce","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Avocado
        sauce","href":null}]}},"url":"https://www.notion.so/Avocado-sauce-14753a83c0e88190a3dac509b3759793","public_url":null},{"object":"page","id":"14753a83-c0e8-8192-9615-df98d804f90c","created_time":"2024-11-23T20:40:00.000Z","last_edited_time":"2024-11-23T20:40:00.000Z","created_by":{"object":"user","id":"0a97e157-de6b-44f6-8987-8a458601a308"},"last_edited_by":{"object":"user","id":"0a97e157-de6b-44f6-8987-8a458601a308"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"56dada1e-4604-428b-9e2d-7d1a8d2ad131"},"archived":false,"in_trash":false,"properties":{"Type":{"id":"%3A%3CxB","type":"s[...]
- request:
    body: '{"parent": {"database_id": "56dada1e4604428b9e2d7d1a8d2ad131"}, "properties":
      {"Type": {"select": {"name": "Meat"}}, "Origin": {"select": {"name": "Italy"}},
      "Difficulty": {"select": {"name": "Easy"}}, "Source": {"rich_text": [{"text":
      {"content": "Leith P.56"}}]}, "Name": {"title": [{"text": {"content": "Avocado
      sauce"}}]}}, "children": [{"object": "block", "type": "heading_2", "heading_2":
      {"rich_text": [{"text": {"content": "Ingredients"}, "type": "text"}]}}, {"object":
      "block", "type": "paragraph", "paragraph": {"rich_text": [{"text": {"content":
      "1 ripe avocado\n2 tbsp mayonnaise (see page 116)\n1 lime\n\u00bd green chilli\n\u00bd
      bunch of coriander\n1 tbsp olive oil\nSalt, caster sugar and freshly ground
      black pepper"}, "type": "text"}]}}, {"object": "block", "type": "heading_2",
      "heading_2": {"rich_text": [{"text": {"content": "Steps"}, "type": "text"}]}},
      {"object": "block", "type": "paragraph", "paragraph": {"rich_text": [{"text":
      {"content": "1 Put the avocado[...]
