interactions:
- request:
    body: '{"filter": {"property": "Name", "title": {"equals": "Unknwon dish"}}}'
    headers:
      Authorization:
      - dummy
      Content-Type:
      - application/json
      Notion-Version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/56dada1e4604428b9e2d7d1a8d2ad131/query
  response:
    body:
      string: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"99154688-7ae7-4614-adc3-9e71a42b4aec"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"a6-ifhEUfe2wZA/NPD8Q5uduoWHUEs"
      x-notion-request-id:
      - 99154688-7ae7-4614-adc3-9e71a42b4aec
    status:
      code: 200
      message: OK
version: 1
