interactions:
- request:
    body: '{"filter": {"property": "Name", "title": {"equals": "Avocado sauce"}}}'
    headers:
      Authorization:
      - dummy
      Content-Type:
      - application/json
      Notion-Version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/56dada1e4604428b9e2d7d1a8d2ad131/query
  response:
    body:
      string: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"6b174d6f-d89e-4458-9bc8-47d36d723ba0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"a6-AjVbEvp0T6eK6iAZmbds8+q8GgM"
      x-notion-request-id:
      - 6b174d6f-d89e-4458-9bc8-47d36d723ba0
    status:
      code: 200
      message: OK
- request:
    body: '{"parent": {"database_id": "56dada1e4604428b9e2d7d1a8d2ad131"}, "properties":
      {"Type": {"select": {"name": "Meat"}}, "Difficulty": {"select": {"name": "Easy"}},
      "Source": {"rich_text": [{"text": {"content": "Leith P.56"}}]}, "Date": {"date":
      {}}, "Name": {"title": [{"text": {"content": "Avocado sauce"}}]}}, "children":
      [{"object": "block", "type": "heading_2", "heading_2": {"rich_text": [{"text":
      {"content": "Ingredients"}, "type": "text"}]}}, {"object": "block", "type":
      "paragraph", "paragraph": {"rich_text": [{"text": {"content": "1 ripe avocado\n2
      tbsp mayonnaise (see page 116)\n1 lime\n\u00bd green chilli\n\u00bd bunch of
      coriander\n1 tbsp olive oil\nSalt, caster sugar and freshly ground black pepper"},
      "type": "text"}]}}, {"object": "block", "type": "heading_2", "heading_2": {"rich_text":
      [{"text": {"content": "Steps"}, "type": "text"}]}}, {"object": "block", "type":
      "paragraph", "paragraph": {"rich_text": [{"text": {"content": "1 Put the avocado
     [...]
