interactions:
- request:
    body: '{"filter": {"property": "Name", "title": {"equals": "Avocado sauce"}}}'
    headers:
      Authorization:
      - dummy
      Content-Type:
      - application/json
      Notion-Version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/56dada1e4604428b9e2d7d1a8d2ad131/query
  response:
    body:
      string: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"312caaba-c433-4f46-8543-6be15ab687c9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"a6-Dkbn23+88LAlrrV2SCzhdOwU0vw"
      x-notion-request-id:
      - 312caaba-c433-4f46-8543-6be15ab687c9
    status:
      code: 200
      message: OK
- request:
    body: '{"parent": {"database_id": "56dada1e4604428b9e2d7d1a8d2ad131"}, "properties":
      {"Type": {"select": {"name": "Meat"}}, "Origin": {"select": {"name": "Italy"}},
      "Difficulty": {"select": {"name": "Easy"}}, "Source": {"rich_text": [{"text":
      {"content": "Leith P.56"}}]}, "Name": {"title": [{"text": {"content": "Avocado
      sauce"}}]}}, "children": [{"object": "block", "type": "heading_2", "heading_2":
      {"rich_text": [{"text": {"content": "Ingredients"}, "type": "text"}]}}, {"object":
      "block", "type": "paragraph", "paragraph": {"rich_text": [{"text": {"content":
      "1 ripe avocado\n2 tbsp mayonnaise (see page 116)\n1 lime\n\u00bd green chilli\n\u00bd
      bunch of coriander\n1 tbsp olive oil\nSalt, caster sugar and freshly ground
      black pepper"}, "type": "text"}]}}, {"object": "block", "type": "heading_2",
      "heading_2": {"rich_text": [{"text": {"content": "Steps"}, "type": "text"}]}},
      {"object": "block", "type": "paragraph", "paragraph": {"rich_text": [{"text":
      {"content": "1 Put the avocado flesh and mayonnaise in a blender. Finely grate
      the zest from the lime and squeeze the juice. Add half the lime zest and juice
      to the blender.\n\n2 Deseed and roughly chop the chilli, roughly chop the coriander
      stalks and add to the mixture with the olive oil. Blend until smooth.\n\n3 Add
      more lime juice or water as required to make a light, coating consistency dressing.
      Season well with salt and pepper and a little sugar. Just before serving, coarsely
      chop a handful of the coriander leaves and stir through the salsa."}, "type":
      "text"}]}}]}'
    headers:
      Authorization:
      - dummy
      Content-Type:
      - application/json
      Notion-Version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"14653a83-c0e8-8198-8c03-f26cff56c64c","created_time":"2024-11-22T20:44:00.000Z","last_edited_time":"2024-11-22T20:44:00.000Z","created_by":{"object":"user","id":"0a97e157-de6b-44f6-8987-8a458601a308"},"last_edited_by":{"object":"user","id":"0a97e157-de6b-44f6-8987-8a458601a308"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"56dada1e-4604-428b-9e2d-7d1a8d2ad131"},"archived":false,"in_trash":false,"properties":{"Type":{"id":"%3A%3CxB","type":"select","select":{"id":"403c8036-3602-4bc5-9bf6-cf2680f4cd7e","name":"Meat","color":"purple"}},"Origin":{"id":"Q%7D%3C_","type":"select","select":{"id":"d15a0eb7-4892-4cca-87e6-d109925cd16b","name":"Italy","color":"red"}},"Difficulty":{"id":"oWhH","type":"select","select":{"id":"C?fv","name":"Easy","color":"green"}},"Source":{"id":"uv%5DN","type":"rich_text","rich_text":[{"type":"text","text":{"content":"Leith
        P.56","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Leith
        P.56","href":null}]},"Date":{"id":"%7BJ%5EA","type":"date","date":null},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Avocado
        sauce","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Avocado
        sauce","href":null}]}},"url":"https://www.notion.so/Avocado-sauce-14653a83c0e881988c03f26cff56c64c","public_url":null,"request_id":"33954506-7b2c-4fd5-ba60-cb866403df5d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"60b-eci4haYZI/DR7tBEtaS5dp4J4+c"
      x-notion-request-id:
      - 33954506-7b2c-4fd5-ba60-cb866403df5d
    status:
      code: 200
      message: OK
version: 1
